<div class="footerWrapper">
  <div layout="row" layout-align="center start" class="footerContainer">
    <div layout="column" layout-align="center start" class="footerColumn" flex>
      <a ui-sref="home" > Main Site </a>
    </div>
    <div layout="column" layout-align="start start" class="footerColumn"  flex>
      <a href="#"> Accounts </a>
      <a href="#/deposit"> Deposit </a>
      <a href="#/withdraw"> Withdrawl </a>
      <a href="#"> Download </a>
    </div>
    <div layout="column" layout-align="start start" class="footerColumn" flex>
      <a href="#" > Markets </a>
      <a href="#" > Leverage </a>
      <a href="#" > Specifications </a>
      <a href="#" > Trade Conditions </a>
    </div>
    <div layout="column" layout-align="start start" class="footerColumn" flex>
      <a href="#"> Support </a>
      <a href="#"> FAQ </a>
      <a href="#"> Contactus </a>
    </div>
    <div layout="column" layout-align="start start" class="footerColumn" flex>
      <a href="#" > Terms and Conditions </a>
      <a href="#" > About us </a>
      <a href="#" > Careers </a>
    </div>
    <div layout="column" layout-align="start start" class="footerColumn" flex>
      <a href="#" flex> <img src="assets/images/logo-footer.png" alt="EVOLVE" width="120px" /> </a>
      <div layout="row" layout-align="space-around center">
        <a href="#" layout-margin> <img  src="assets/images/twitter_icon.png" height="20px"/> </a>
        <a href="#" layout-margin> <img  src="assets/images/facebook_icon.png" height="20px"/> </a>
        <a href="#" layout-margin> <img  src="assets/images/google_icon.png" height="20px"/> </a>
      </div>
    </div>
  </div>
</div>
