.headerContainerWrapper{
  max-width: 1340px;
  margin: 0 auto;
  width: 100%;
  height:80px;
  padding:0px 10px;
}

.acme-navbar-text {
  color: white;
}

.mainHeader{
  /*height:80px;*/
}

.btnLaunchWebtrader {
  background-color:#00AA00 !important;
  margin:2px;
  padding: 0px 10px;
  font-size: 12px;
}

.navItem{
  margin:2px;
  padding: 0px 3px;
  font-size: 12px;
}

.navItem:hover{
  color: #fff;
  background-color: transparent;
  border: 1px solid #ffffff;
  /*font-weight: bold;*/
  border-radius: 0px;
  min-height: 26px !important;
  line-height: 26px !important;
}

.navbarWrapper{
  /* Light*/
  /*background-color: #1976d2 !important; */
  /* Dark */
  background-color: rgb(63,81,181) !important;
  box-shadow: 0 1px 4px #333 !important;
}

.siteMapWrapper{
  background-color: white !important;
  color: rgb(63,81,181) !important;
  box-shadow: 0 1px 4px #666666;
  height: 34px;
  min-height: 34px;
  font-size: 16px;
  font-weight: normal;
  margin-bottom:8px;

}

.breadcrumb{
  max-width:1340px;
  margin: 0 auto;width: 100%;
  height:80px;
  padding:0px 10px;
  margin: 10px 0px;
}

/*#menu_container_7{*/
  /*top: 52px;*/
  /*left: 1150px;*/
  /*transform-origin: right top 0px;*/
/*}*/
