.navbarWrapper{
  max-width: 1340px;
  min-width: 950px;
  width: 100%;
  margin: 0 auto;
}

.headerContainerWrapper{
  max-width: 1340px;
  min-width: 950px;
  margin: 0 auto;
  width: 100%;
  height:128px;
  padding:0px 10px;
}

.acme-navbar-text {
  color: white;
}

.mainHeader{
  /*height:80px;*/
}

.btnLaunchWebtrader {
  width:165px;
}

/*.btnLaunchWebtrader {
  background-color:#00AA00 !important;
  margin:2px;
  padding: 0px 10px;
  font-size: 12px;
}*/

.navItem{
  margin:2px;
  padding: 0px 3px;
  font-size: 12px;
}

.navItem:hover{
  color: #fff;
  background-color: transparent;
  border: 1px solid #ffffff;
  /*font-weight: bold;*/
  border-radius: 0px;
  min-height: 26px !important;
  line-height: 26px !important;
}

.navbarWrapper{
  /* Light*/
  /*background-color: #1976d2 !important; */
  /* Dark */
  background-color: #004FAD !important;
  box-shadow: 0 1px 4px #333 !important;
}

.siteMapWrapper{
  background-color: white !important;
  color: #004FAD !important;
  box-shadow: 0 1px 4px #666666;
  height: 50px;
  min-height: 34px;
  font-size: 21px;
  font-weight: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:8px;
  max-width:1340px;
  min-width: 950px;
  width: 100%;
}

.breadcrumb{
  max-width:1340px;
  min-width: 950px;
  width: 100%;
  height:80px;
  padding:0px 10px;
  margin: 10px auto;
}

/*#menu_container_7{*/
  /*top: 52px;*/
  /*left: 1150px;*/
  /*transform-origin: right top 0px;*/
/*}*/
