.acme-navbar-text {
  color: white;
}

.mainHeader{
  /*height:80px;*/
}

.btnLaunchWebtrader {
  background-color:#00AA00 !important;
  margin:2px;
  padding: 0px 10px;
  font-size: 12px;
}

.navItem{
  margin:2px;
  padding: 0px 3px;
  font-size: 12px;
}
