<md-sidenav id="aside" flex class="md-sidenav-left" md-component-id="left" md-is-locked-open="true"  md-disable-backdrop md-whiteframe="4">
  <md-button class="md-button md-default-theme" ng-click="clickMe('Accounts')" >
    <md-icon class="md-default-theme material-icons">&#xE7FC;</md-icon>
    Accounts
  </md-button>

  <md-button class="md-button md-default-theme" ng-click="clickMe('Platform Download')" >
    <md-icon class="md-default-theme material-icons">&#xE2c4;</md-icon>
    Platform Download
  </md-button>

  <md-button class="md-button md-default-theme" ng-click="clickMe('Partners')" >
    <md-icon class="md-default-theme material-icons">&#xE8D3;</md-icon>
    Partners
  </md-button>

  <md-button class="md-button md-default-theme" ng-click="clickMe('Global Settings')" >
    <md-icon class="md-default-theme material-icons">&#xE8B8;</md-icon>
    Global Settings
  </md-button>

  <md-button class="md-button md-default-theme" ng-click="clickMe('Support')" >
    <md-icon class="md-default-theme material-icons">&#xE887;</md-icon>
    Support
  </md-button>

  <div layout="row">
    <md-button class="md-button md-default-theme" flex layout="column" layout-align="center center" ng-click="clickMe('Live Chat')" >
      <md-icon class="md-default-theme material-icons no-padding">&#xE0C6;</md-icon>
      <span>Live Chat</span>
    </md-button>

    <md-button class="md-button md-default-theme" flex layout="column" layout-align="center center" ng-click="clickMe('Contact Us')" >
      <md-icon class="md-default-theme material-icons no-padding">&#xE8FD;</md-icon>
      <span>Contact Us</span>
    </md-button>
  </div>

  <md-button class="md-button md-default-theme referFriendMenu" style="" ng-click="clickMe('Refer a Friend')" >
    <!--<md-icon class="md-default-theme material-icons">&#xE1BC;</md-icon>-->
    Refer a Friend
  </md-button>

</md-sidenav>
