<md-dialog aria-label="Login">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Login</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content >
      <div class="md-dialog-content" style="width: 450px">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Email</label>
            <input ng-model="user.email" />
          </md-input-container>
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Password</label>
            <input ng-model="user.password" />
          </md-input-container>
        </div>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="center center">

      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <md-button class="md-raised md-primary" ng-href="#main" ng-click="hide()"> Login </md-button>
        </md-input-container>
      </div>

    </md-dialog-actions>
  </form>
</md-dialog>
