<md-dialog aria-label="Login" class="loginDialog">


    <md-toolbar layout="row" layout-padding layout-align="center center">
        <span class="md-toolbar-item">
          <md-icon class="md-default-theme material-icons md-18" >&#xE897;</md-icon> Log in
        </span>
        <md-button class="md-icon-button closeBtn" ng-click="cancel()">
          <md-icon class="md-default-theme material-icons md-18 " aria-label="Close dialog">&#xE5CD;</md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content >
      <form name="loginForm" ng-cloak>
        <div  style="width: 550px" layout="column" class="md-padding layout-margin">

            <md-input-container>
              <label>Email</label>
              <input type="email" name="email"  ng-model="user.email" ng-required="true" ng-pattern="/^.+@.+\..+$/" />
              <div ng-messages="loginForm.email.$error">
                <div ng-message-exp="['required','pattern']">
                  Your email must be look like an e-mail address.
                </div>
              </div>
            </md-input-container>

            <md-input-container >
              <label>Password</label>
              <input type="password" name="password"  ng-model="user.password" ng-required="true" />
              <div ng-messages="loginForm.password.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>


            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-primary md-green" ng-href="#main" ng-click="hide()"> Login </md-button>
            </div>

            <div layout="row" layout-align="space-between center" class="actionBtnDiv txt-color">
              <span>Don't have an account? Sign up</span>
              <span>Forget password?</span>
            </div>

        </div>
      </form>
    </md-dialog-content>
    <!-- <md-dialog-actions layout="row" layout-align="end center">

      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <md-button class="md-raised md-primary md-green" ng-href="#main" ng-click="hide()"> Login </md-button>
        </md-input-container>
      </div>

    </md-dialog-actions> -->

</md-dialog>
