<md-dialog aria-label="ResetPassword" class="resetPasswordDialog">

  <md-toolbar layout="row" layout-padding layout-align="center center">
       <span class="md-toolbar-item">
          <md-icon class="md-default-theme material-icons md-18" >&#xE897;</md-icon> Request Password Reset
        </span>
    <md-button class="md-icon-button closeBtn" ng-click="vm.cancel()">
      <md-icon class="md-default-theme material-icons md-18 " aria-label="Close dialog">&#xE5CD;</md-icon>
    </md-button>
  </md-toolbar>

  <md-dialog-content >
    <form name="resetPasswordForm" ng-submit="resetPasswordForm.$valid " ng-cloak>
      <div  style="width: 550px" layout="column" class="md-padding layout-margin">

        <md-input-container>
          <label>Email</label>
          <input type="email" name="email"  ng-model="user.email" ng-required="true" ng-pattern="/^.+@.+\..+$/" />
          <div ng-messages="resetPasswordForm.email.$error">
            <div ng-message-exp="['required','pattern']">
              Your email must be look like an e-mail address.
            </div>
          </div>
        </md-input-container>

        <div layout="row" layout-align="space-between center" class="actionBtnDiv txt-color">
          <md-button type="submit" class="md-raised md-black">Reset Password</md-button>
        </div>

      </div>
    </form>
  </md-dialog-content>
</md-dialog>
