<header>
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</header>

<section class="mainContainer containerWrapper">
  <div layout="row">
    <div class="sideMenuWrapper">
      <asme-side-menu></asme-side-menu>
    </div>
    <div flex>
      <md-card>
        <md-card-content>
          <div layout="row">
            <div class="accountSelectWrapper" layout-align="start center" flex="30">
              <div layout="row" layout-xs="column">
              <md-input-container >
                <label>Account</label>
                <md-select ng-model="vm.account">
                  <md-optgroup label="Accounts Home">
                    <md-option ng-value="item" ng-repeat="item in vm.accounts">{{item}}</md-option>
                  </md-optgroup>
                  <md-optgroup label=" + New Account">
                  </md-optgroup>
                </md-select>
              </md-input-container>
                </div>
            </div>
            <div layout="row" layout-xs="column" layout-align="end center" flex="">
              <md-button ui-sref="deposit" class="md-raised md-primary">Deposit</md-button>
              <md-button ui-sref="withdraw" class="md-raised md-warn md-hue-2">Withdraw</md-button>
              <md-button ui-sref="settings" class="md-raised md-primary">Settings</md-button>
              <md-button ui-sref="webtrader" class="md-raised md-primary btnLaunchWebtrader">
                <md-icon class="md-default-theme material-icons" style="margin-right: 10px;">&#xE30C;</md-icon>LAUNCH WEBTRADER
              </md-button>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-content>
          <div class="dummyPlaceholder" style="height: 450px">
            <h3 ng-if="vm.stateParam != 'home'">You are on {{vm.stateParam}} screen.</h3>
          </div>
        </md-card-content>
      </md-card>

      <acme-footer></acme-footer>
    </div>
  </div>
</section>
