@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  font-family: 'Roboto', serif;
  background-color: #edf0f5;
}

.bgColorGray{
  background-color: #edf0f5;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

.toast-info {
  background-color: #666666;
  color: #000000;
}

.toast-info .toast-progress{
  background-color: #000000;
}

.containerWrapper {
  max-width: 1340px;margin: 0 auto;
}

section.mainContainer{
  margin-bottom: 30px;
  background-color: #edf0f5;
  text-align: center;
}

.sideMenuWrapper{
  width: 250px
}

#aside{
  margin: 8px !important;
  width: auto;
}

.md-button{
  min-height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-transform: none;
}

.md-sidenav-left{
  /* Light*/
  /*background-color: #1976d2 !important; */
  /* Dark */
  background-color: #004FAD !important;
  color: #ffffff;
}

.md-sidenav-left .md-button {
  text-align: left;
  padding: 10px 10px;
  margin: 0px;
}

.md-sidenav-left md-icon {
  color: white;
  padding: 0 10px 0 10px;
}

.no-padding{
  padding: 0 !important;
}

.accountSelectWrapper{
  text-align: left;
}

.dummyPlaceholder{
  /*height: 450px;*/
  color: #666666 !important;
}

/* Home page */
section .container{
  max-width: 1340px;
  margin: 0px auto;
}

#main-section{
  background: url('../assets/images/main-section.png') ,url('../assets/images/graident.png') repeat  center;
}

#main-section h3{
  background-color: #f9f9f9;
  padding: 30px;
  margin-bottom: 0;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 1px solid #ecedee;
}

#main-section .container {
  padding-bottom: 80px;
}

#main-section .price{
  font-size: 20px;
  color: #fff;
  margin-top: 100px;
}

#features-section{
  background-color:#fff;
}

#features-section .container{
  padding:100px;
}

#app-link-section{
  background: #fafafa; /* Old Browsers */
  background: linear-gradient(to top, #fafafa, #ededef); /*Standard*/
  background: -webkit-linear-gradient(bottom,#ededef,#fafafa); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#ededef,#fafafa); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#ededef,#fafafa); /*Fx 3.6-15*/
}

#app-link-section .container{
  padding:0px 100px;
  margin-right: auto;
  margin-left: auto;
}

#app-link-section .container  h2{
  text-transform: uppercase;
  margin: 50px 0 20px 0;
  color: #41424f;
}

#app-link-section .container   p{
  font-size: 15px;
  line-height: 30px;
  color: #8e8f9a;
}

#about-section{
  background-color:#fff;
}

#about-section .container{
  padding: 100px;
}

#about-section .container h2{
  text-transform: uppercase;
  margin: 50px 0 20px 0;
  color: #41424f;
}

#about-section .container p{
  font-size: 16px;
  line-height: 30px;
  color: #8e8f9a;
}

#about-section .container .layout-row:last-child{
  margin-top: 40px;
}

#footer-section{
  background-color: #fbfbfb;
}

#footer-section .container{
  padding: 30px 100px;
}

#footer-section .container h4{
  margin:10px 0px;
}

#footer-section .container  a{
  color: #8e8f9a;
  font-size:12px;
}

#copyright-section{
  background-color: #fbfbfb;
}

#copyright-section .container{
  padding: 0px 100px;
}

.footer-logo{
  width: 150px;
}
.txt-color{
  color: #8e8f9a;
  font-size: smaller;
}

.m-t-30{
  margin-top: 30px;
}




/* Home page end */

/*Account Data table*/

.live-account td.md-cell md-checkbox{
  display:none !important;
}

.demo-account td.md-cell md-checkbox{
  display:none !important;
}
/*Account Data table end*/
