@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

html, body {
  font-family: 'Roboto', serif;
  background-color: #edf0f5;
  position:inherit!important;
}

.bgColorGray{
  background-color: #edf0f5;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

.toast-info {
  background-color: #666666;
  color: #000000;
}

.toast-info .toast-progress{
  background-color: #000000;
}

.containerWrapper {
  max-width: 1340px;
  margin: 0 auto;
  min-width: 950px;
}

section.mainContainer{
  margin-bottom: 30px;
  background-color: #edf0f5;
  text-align: center;
}

.sideMenuWrapper{
  width: 250px
}

#aside{
  margin: 8px !important;
  width: auto;
}

.md-button{
  min-height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-transform: none;
}

.md-sidenav-left{
  /* Light*/
  /*background-color: #1976d2 !important; */
  /* Dark */
  background-color: #004FAD !important;
  color: #ffffff;
}

.md-sidenav-left .md-button {
  text-align: left;
  padding: 10px 10px;
  margin: 0px;
}

.md-sidenav-left md-icon {
  color: white;
  padding: 0 10px 0 10px;
}

.no-padding{
  padding: 0 !important;
}

.accountSelectWrapper{
  text-align: left;
}

.dummyPlaceholder{
  /*height: 450px;*/
  color: #666666 !important;
}

/* Home page */
#main-section, #features-section ,#app-link-section ,#about-section,#footer-section{
   min-width: 1080px;
}

section .container{
  max-width: 1340px;
  margin: 0px auto;
}

#main-section{
  background: url('../assets/images/main-section.png') ,url('../assets/images/graident.png') repeat  center;
}

#main-section h3{
  background-color: #f9f9f9;
  padding: 30px;
  margin: -7px -7px 15px -7px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 1px solid #ecedee;
}

#main-section .container {
  padding-bottom: 80px;
}

#main-section .price{
  font-size: 20px;
  color: #fff;
  margin-top: 100px;
}

#main-section .create-terms{
  font-size: 10px;
  color: #888888;
  margin: 15px;
}

#features-section{
  background-color:#fff;
}

#features-section .container{
  padding:100px;
}

#app-link-section{
  background: #fafafa; /* Old Browsers */
  background: linear-gradient(to top, #fafafa, #ededef); /*Standard*/
  background: -webkit-linear-gradient(bottom,#ededef,#fafafa); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#ededef,#fafafa); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#ededef,#fafafa); /*Fx 3.6-15*/
}

#app-link-section .container{
  padding:0px 100px;
  margin-right: auto;
  margin-left: auto;
}

#app-link-section .container  h2{
  text-transform: uppercase;
  margin: 50px 0 20px 0;
  color: #41424f;
}

#app-link-section .container   p{
  font-size: 15px;
  line-height: 30px;
  color: #8e8f9a;
}

#about-section{
  background-color:#fff;
}

#about-section .container{
  padding: 100px;
}

#about-section .container h2{
  text-transform: uppercase;
  margin: 50px 0 20px 0;
  color: #41424f;
}

#about-section .container p{
  font-size: 16px;
  line-height: 30px;
  color: #8e8f9a;
}

#about-section .container .layout-row:last-child{
  margin-top: 40px;
}

#footer-section{
  background-color: #fbfbfb;
}

#footer-section .container{
  padding: 30px 100px;
}

#footer-section .container h4{
  margin:10px 0px;
}

#footer-section .container  a{
  color: #8e8f9a;
  font-size:12px;
}

#copyright-section{
  background-color: #fbfbfb;
}

#copyright-section .container{
  padding: 0px 100px;
}

.footer-logo{
  width: 150px;
}
.txt-color{
  color: #8e8f9a;
  font-size: smaller;
}

.m-t-30{
  margin-top: 30px;
}




/* Home page end */

/*Account Data table*/

.live-account td.md-cell md-checkbox{
  display:none !important;
}

.demo-account td.md-cell md-checkbox{
  display:none !important;
}

.md-table thead.md-head{
  background: #004FAD !important;
}

.md-table thead.md-head .md-column{
  color: #ffffff;
}

.md-grey ,.md-grey :hover{
  background-color:#767676 !important;
  color: #ffffff !important;
}

.moreBtn{
  font-weight:600;
}
.moreBtn :hover{
  font-weight:bolder;
}
.addAccountBtn {
  background-color:#00AA00 !important;
  padding: 5px 10px;
  font-size: 14px;
}

#AccountDataTable .md-tab.md-active .tabLiveText{
  color:#ff0000 !important;
}

#AccountDataTable .md-tab.md-active .tabAccountText{
  color:#000 !important;
}

#AccountDataTable md-ink-bar{
   top:0 !important;
  color: #00AA00;
  background: #00AA00;
}
/*Account Data table end*/

/*Sign Up Message*/
.signUpMessage{
  background: #82cf85;
  border:1px solid #767676;
  border-radius:2px;
  font-size:14px;
  text-align:left;
}
.signUpMessage .closeBtn{
 position:absolute;
  right:0;
  top:2px;
}

/*Sign Up Message End*/

/*Home Dialog boxes */
.md-green {
 background-color:#00AA00 !important;
 color: #ffffff !important;
}
.md-black{
  background-color:#282F39 !important;
  color:#ffffff !important;
}

.closeBtn{
position:absolute;
 right:0;
 top:2px;
}

.actionBtnDiv span{
  font-size:14px;
  cursor: pointer;
}

.loginDialog md-toolbar{
  background-color:#00AA00 !important;
}

.loginDialog md-icon{
  margin-bottom:5px;
}

.resetPasswordDialog  md-toolbar{
  background-color:#282F39 !important;
  font-size: 18px !important;
}

.resetPasswordDialog md-icon{
  margin-bottom:5px;
}

.md-dialog-container{
   position:fixed!important;
}

md-backdrop{
 /*height:100%!important;*/
}

/*Home Dialog boxes End*/
