<section id="main-section">
  <header style="padding-top:15px;">
    <md-toolbar style="max-width: 1340px;margin: 0px auto;background-color:transparent!important;">
      <div layout-align="start center" layout="row" layout-xs="row"  layout-align-xs="start center">
        <div flex="20" flex-md="{{ vm.box1Width }}" flex-xs="33">
          <img src="assets/images/logo-home.png" alt="EVOLVE" width="180px" ng-click="goTo('home')"/>
        </div>

        <div flex layout-align="center center" layout-align-xs="end center" layout-xs="row" layout-gt-xs="row">
          <md-button class="" ng-href="{{features}}">FEATURES</md-button>
          <md-button class="" ng-href="{{markets}}">MARKETS</md-button>
          <md-button class="" ng-href="{{howitworks}}">How it works</md-button>
          <md-button class="" ng-href="{{more}}">MORE</md-button>
        </div>

        <div flex="20" layout-align="end center" layout-align-xs="end center" layout-xs="row" layout-gt-xs="row">
          <md-button ng-click="vm.showLoginModel()">LOGIN</md-button>
          <md-button ng-click="vm.showSignUpModal()">SIGNUP</md-button>
        </div>
      </div>
    </md-toolbar>
  </header>

  <div class="container">
    <div layout="row" layout-align="center center" style="text-align: center;">
        <h2 class="text-center" style="color: #ffffff;">Forex, Commodities, Indices and crypto in <br> bitcoin</h2>
    </div>

    <div layout="row" layout-align="center center" style="width:350px; margin:15px auto;">
       <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
         <!--<div >-->
           <h3 style="text-align:center;">GET STARTED</h3>
         <!--</div>-->
         <form name="userForm">
           <div layout-gt-xs="row">
             <md-input-container class="md-block" flex-gt-xs>
               <label>Username </label>
               <input ng-model="user.username" />
             </md-input-container>
           </div>

           <div layout-gt-xs="row">
             <md-input-container class="md-block" flex-gt-xs>
               <label>Password</label>
               <input ng-model="user.password" />
             </md-input-container>
           </div>

           <!--<div layout-gt-xs="row">-->
           <!--<md-input-container class="md-block" flex-gt-xs>-->
           <!--<label>Company</label>-->
           <!--<input ng-model="user.company" />-->
           <!--</md-input-container>-->
           <!--</div>-->

           <div layout-gt-xs="row" layout-align="center center">
             <!--<md-input-container class="md-block" flex-gt-xs>-->
             <!--<label>Company</label>-->
             <!--<input ng-model="user.company"/>-->
             <md-button class="md-primary md-raised">
               <md-icon class="md-default-theme material-icons no-padding">&#xE7FE;</md-icon>
               CREATE NEW ACCOUNT
             </md-button>
             <!--</md-input-container>-->
           </div>

           <div layout-gt-xs="row" layout-align="center center" style="font-size: 12px">
             <p class="create-terms">By Creating an account you agree to our <a>terms &#38; conditions</a></p>
           </div>

         </form>
       </md-content>

    </div>
    <div class="price">
      <div layout="row" layout-align="center center">
        <div layout="row"  layout-align="space-around center">
          <h4>BTCUSD</h4> <span style="margin-left:5px;">676.99</span>
        </div>
        <div layout="row"  layout-align="space-around center">
          <h4>EURUSD</h4> <span style="margin-left:5px;">1.11513</span>
        </div>
        <div layout="row"  layout-align="space-around center">
          <h4>USDJPY</h4> <span style="margin-left:5px;">102.78</span>
        </div>
        <div layout="row"  layout-align="space-around center">
          <h4>XAUUSD</h4> <span style="margin-left:5px;">1200.15</span>
        </div>
        <div layout="row"  layout-align="space-around center">
          <h4>S&#38;P500</h4> <span style="margin-left:5px;">2160.56</span>
        </div>
        <!--<ul>-->
        <!--<li><span>BTCUSD</span><span class="m-r-30"> 676.99</span></li>-->
        <!--<li><span>EURUSD</span><span class="m-r-30"> 1.11513</span></li>-->
        <!--<li><span>USDJPY</span><span class="m-r-30"> 102.78</span></li>-->
        <!--<li><span>XAUUSD</span><span class="m-r-30"> 1200.15</span></li>-->
        <!--<li><span>S&#38;P500</span><span class="m-r-30">2160.56</span></li>-->
        <!--</ul>-->
      </div>
    </div>



    <!--<div class="row">-->
      <!--<div class="col-md-12 text-center">-->
        <!--<div class="price">-->
          <!--<ul>-->
            <!--<li><span>BTCUSD</span><span class="m-r-30"> 676.99</span></li>-->
            <!--<li><span>EURUSD</span><span class="m-r-30"> 1.11513</span></li>-->
            <!--<li><span>USDJPY</span><span class="m-r-30"> 102.78</span></li>-->
            <!--<li><span>XAUUSD</span><span class="m-r-30"> 1200.15</span></li>-->
            <!--<li><span>S&#38;P500</span><span class="m-r-30">2160.56</span></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</section>

<section id="features-section">
   <div class="container">
         <div layout="row" layout-align="center center">

             <div layout="column" flex="33" style="text-align:center" layout-align="start center" layout-margin>
               <img src="assets\img\1.png" alt="" width="80">
               <h3>Deposit Bitcoins</h3>
               <p class="txt-color">Fund your trading account with Bitcon is simple and free. Funds are avilable for trading as soon as the transactionis confirmed on the Blockchain</p>
             </div>
             <div layout="column" flex="33" style="text-align:center" layout-align="start center" layout-margin>
               <img src="assets\img\2.png" alt="" width="80">
               <h3>Trade global Market</h3>
               <p class="txt-color">Find your profits trading the most liquid global markets while keeping your balance in Bitcoin.</p>
             </div>
             <div layout="column" flex="33" style="text-align:center" layout-align="start center" layout-margin>
               <img src="assets\img\3.png" alt="" width="80">
               <h3>Withdraw Bitcoins</h3>
               <p class="txt-color">Withdraw in bitcoin anytime without fees</p>
             </div>

         </div>
   </div>
</section>

<section id="app-link-section">
  <div class="container">
    <div layout="row" layout-align="start center">

      <div  layout="column"  flex="50" style="text-align:center" layout-margin>
        <img src="assets/img/laptop-trans.png" alt="" width="auto">
      </div>
      <div layout="column" flex="50" layout-margin>
        <h2>Available where you are</h2>
        <p>We have created the ideal workflow</p>
        <p>for trading on the go.</p>
        <div layout="row" class="m-t-30" layout-align="start center" style="padding:2px;">
          <a href="" target="_blank"> <img src="assets/img/google-play-badge.png" alt="" width="100" class="inline"></a>
          <a href="" target="_blank"><img src="assets/img/app-store.png" alt="" width="100"></a>
        </div>
        <p class="m-t-30">
          <a href="">Read More About The Mobile Apps</a>
        </p>
      </div>

    </div>
  </div>
</section>

<section id="about-section">
  <div class="container">
    <div layout="row" layout-align="center center">
      <div layout="column" flex="50" layout-margin>
        <h2>Our platform-Metatrder</h2>
        <p>Bitcoin on Metatrader . We take Metatrader to the next level. Access our secure platoform via Desktop, Webtrader and Mobiletrader for Andriod and Apple. </p>
        <md-button class="btn btn-raised blue-btn">Read More..</md-button>
      </div>
      <div  flex="50"  style="text-align:center;" layout-margin>
        <img src="assets/img/imac.png" alt="" width="350">
      </div>
    </div>
    <div layout="row"  layout-align="center" layout-margin>
      <span flex="60" flex-offset="30">
            <img src="assets/img/mac_keyboard.png" alt="" width="800">
      </span>
    </div>
    <div layout="row"  layout-align="center" layout-margin>
      <h3>Start Trading Today &nbsp; &nbsp; <md-button class="md-raised md-button md-ink-ripple green-btn">Open Account</md-button> </h3>
    </div>
  </div>
</section>

<section id="footer-section">
  <div class="container">
    <div layout="row" layout-align="center start">
      <div layout="column" layout-align="start start"  flex>
        <a href="#" flex> <img src="assets/img/footer-logo.png"  width="120px" /> </a>
      </div>
      <div layout="column" layout-align="center start"  flex>
        <h4>Features</h4>
      </div>
      <div layout="column" layout-align="start start"  flex>
        <h4>Support</h4>
        <a href="#"> Support & FAQ </a>
      </div>
      <div layout="column" layout-align="start start"   flex>
        <h4>News & Discussion</h4>
        <a href="#"> Accouncements </a>
        <a href="#"> Twitter @evolvemarkets </a>
        <a href="#"> Status Page </a>
        <a href="#"> Blog </a>
      </div>
      <div layout="column" layout-align="start start"  flex>
        <h4>Contact</h4>
        <a href="#" > Contact Us </a>
        <h4>Languages</h4>
        <a href="#" >English</a>
        <a href="#" >русский </a>
        <a href="#" >中文 (繁體)</a>
      </div>
    </div>
  </div>
</section>

<section id="copyright-section">
   <div class="container">
     <div layout="column" layout-align="center center">
       <hr>
       <p class="txt-color">© 2016 Evolve Markets 2013-2016. All rights reserved.</p>
     </div>

   </div>
</section>
