<section id="main-section" >
  <header>
    <md-toolbar style="max-width: 1340px;margin: 0px auto;">
      <div layout-align="start center" layout="row" layout-xs="row"  layout-align-xs="start center">
        <div flex="20" flex-md="{{ vm.box1Width }}" flex-xs="33">
          <img src="assets/images/logo-home.png" alt="EVOLVE" width="180px" ng-click="goTo('home')"/>
        </div>

        <div flex layout-align="center center" layout-align-xs="end center" layout-xs="row" layout-gt-xs="row">
          <md-button class="" ng-href="{{features}}">FEATURES</md-button>
          <md-button class="" ng-href="{{markets}}">MARKETS</md-button>
          <md-button class="" ng-href="{{howitworks}}">How it works</md-button>
          <md-button class="" ng-href="{{more}}">MORE</md-button>
        </div>

        <div flex="20" layout-align="end center" layout-align-xs="end center" layout-xs="row" layout-gt-xs="row">
          <md-button >LOGIN</md-button>
          <md-button >SIGNUP</md-button>
        </div>
      </div>
    </md-toolbar>
  </header>

  <div class="container">
    <div layout="row" layout-align="center center" style="text-align: center;">
        <h2 class="text-center">Forex, Commodities, Indices and crypto in <br> bitcoin</h2>
    </div>

    <div>

    </div>
    <div layout="row" layout-align="center center">

      <form name="userForm">
        <h3>GET STARTED</h3>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Username </label>
            <input ng-model="user.username" />
          </md-input-container>
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Password</label>
            <input ng-model="user.password" />
          </md-input-container>
        </div>

        <!--<div layout-gt-xs="row">-->
          <!--<md-input-container class="md-block" flex-gt-xs>-->
            <!--<label>Company</label>-->
            <!--<input ng-model="user.company" />-->
          <!--</md-input-container>-->
        <!--</div>-->

        <div layout-gt-xs="row" layout-align="center center">
          <!--<md-input-container class="md-block" flex-gt-xs>-->
            <!--<label>Company</label>-->
            <!--<input ng-model="user.company"/>-->
            <md-button class="md-primary md-raised">
              <md-icon class="md-default-theme material-icons no-padding">&#xE7FE;</md-icon>
              CREATE NEW ACCOUNT
            </md-button>
          <!--</md-input-container>-->
        </div>

        <div layout-gt-xs="row" layout-align="center center">
          <p>By Creating an account you agree to our <a>terms &#38; conditions</a></p>
        </div>

      </form>
    </div>

    <div layout="row">
      <div >
        <h4>BTCUSD</h4> <p>676.99</p>
      </div>
      <div >
        <h4>EURUSD</h4> <p>1.11513</p>
      </div>
      <div >
        <h4>USDJPY</h4> <p>102.78</p>
      </div>
      <div >
        <h4>XAUUSD</h4> <p>1200.15</p>
      </div>
      <div >
        <h4>S&#38;P500</h4> <p>2160.56</p>
      </div>
      <!--<ul>-->
        <!--<li><span>BTCUSD</span><span class="m-r-30"> 676.99</span></li>-->
        <!--<li><span>EURUSD</span><span class="m-r-30"> 1.11513</span></li>-->
        <!--<li><span>USDJPY</span><span class="m-r-30"> 102.78</span></li>-->
        <!--<li><span>XAUUSD</span><span class="m-r-30"> 1200.15</span></li>-->
        <!--<li><span>S&#38;P500</span><span class="m-r-30">2160.56</span></li>-->
      <!--</ul>-->
    </div>


    <!--<div class="row">-->
      <!--<div class="col-md-12 text-center">-->
        <!--<div class="price">-->
          <!--<ul>-->
            <!--<li><span>BTCUSD</span><span class="m-r-30"> 676.99</span></li>-->
            <!--<li><span>EURUSD</span><span class="m-r-30"> 1.11513</span></li>-->
            <!--<li><span>USDJPY</span><span class="m-r-30"> 102.78</span></li>-->
            <!--<li><span>XAUUSD</span><span class="m-r-30"> 1200.15</span></li>-->
            <!--<li><span>S&#38;P500</span><span class="m-r-30">2160.56</span></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</section>

<section>

</section>

<section>

</section>
